<section class="container">
    
    <form method="POST" action="/users/register" class="form_login">

        <h2>New Account</h2>
        <div class="row m-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="first_name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="last_name">
            </div>
        </div>
        <div class="row m-3">  
            <div class="col">
                <input type="email" class="form-control" placeholder="E-mail" aria-label="E-mail" name="email">
            </div>
        </div>
        <div class="row m-3">
            <div class="col">
                <input type="password" class="form-control mb-5" placeholder="Password" aria-label="Password" name="password">
            </div>
        </div>
        <button class="btn btn-success">Register</button>
    </form>

</section>